.herobanner{
    position: relative;
}
.purple-circle{
    position: absolute;
    right: 0;
    top: -5rem;
    z-index: -12;
}
.green-circle{
    position: absolute;
    bottom: -3rem;
}
.hero-container{
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 2.5rem;
}
.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.rocket-head{
    font-size: 5rem;
    line-height: 1.3;
    font-weight: bold;
    position: relative;
}
.rocket-head::after{
    content: "";
    position: absolute;
    background-image: url("/green-line.png");
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    right: 16rem;
    top: 11.2rem;
}
.rocket-head::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 30%;
    background-image: url("/yellow-line.png");
    background-repeat: no-repeat;
    bottom: -5rem;

}
.para-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.para-content p{
    font-size: 1.6rem;
    font-weight: 400;
}
.btn-para{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.btn-box{
    display: flex;
    gap: 1rem;
}
.fill-btn{
    padding: 1rem;
    background-color: var(--border-color);
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    color: var(--btn-text);
}
.withou-fill{
     padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    border: 3px solid var(--border-color);
    background-color: transparent;

}
.hero-img{
    width: 100%;
}
.hero-img img{
    width: 100%;
}
/* ====================== Mini hero ============== */
.mini-her-sec{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.yellow-circle{
    position: absolute;
    right: -5rem;
    top: 0;
}
.yellow-circle img{
    width: 70%;
}
.blue-circle{
    position: absolute;
    left: 0;
    bottom: 0;
}
.mini-hero-conatiner{
    width: 100%;
    max-width: 110rem;
    padding: 3rem;
}

.mini-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.mini-heading h1{
    font-size: 3rem;
    text-align: center;
}
.mini-heading span{
    position: relative;
    z-index: -22;
}
.mini-heading span::after{
    content: "";
    position: absolute;
    background-image: url("/vector-circle.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 3rem;
    left: -1rem;
    top: -2rem;
}
.mini-boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    line-height: 1.5;
    padding: 2rem;
    border-radius: 1.6rem;
}
.box h1{
    font-size: 2.5rem;
    text-align: center;
}
.box p{
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}
.box h2{
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    width:100%;
}
.boxone h2::after{
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: rgb(172, 222, 255);
    z-index: -12;
    border-radius: 0.4rem;
    left: 44%;
}

.boxtwo h2::after{
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    background-color:#D4F7E6;
    z-index: -12;
    border-radius: 0.4rem;
    left: 44%;
}
.boxthree h2::after{
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #C9B2FF33;
    z-index: -12;
    border-radius: 0.4rem;
    left: 44%;

}



