
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-container{
    top: -5rem;
    position: relative !important;
    background-color: #EAFBF3;
    border-radius: 2rem;
}
.footer-img-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-left-content p{
    font-size: 1.6rem;
    font-weight: 400;
}
.footer-right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.footer-list ul{
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.footer-list ul li{
    font-size: 1.6rem;
    font-weight: 400;
}
.lastco{
    font-size: 1.6rem;
    text-align: center;
}