.contishadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.3rem;
}
.logo-head{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.log{
    position: relative;
}
.log::after{
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: var(--border-color);
    border-radius: 50%;
    left: -0.6rem;
    z-index: -1;
    top: -0.4rem;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
}
 ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
ul li a{
    text-decoration: none;
    font-size: 1.6rem
}
.buto{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--border-color);
}
.btn{
    padding: 1rem;
    background-color: var(--border-color);
    border-radius: 3rem;
    font-size: 1.6rem;
}
.btn h4{
    color: var(--btn-text);
}

.meniocn{
    position: relative;
    z-index: 12;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.meniocn::after{
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: var(--border-color);
    z-index: -12;
    border-radius: 50%;
    left: 0.1rem;

}
