.nos-container{
    background-color:  #2AD8841A;
    border-radius: 2rem;
}
.nos-clients-banner{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 5rem;
}
.nos-clients-head h1{
    font-size: 2.5rem;
}
.nos-client-boxes{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    justify-content:center;
}
.nos-center {
    flex: 1;
    max-width: 100rem;
}
.mySwiper {
    width: 100%;
    height: auto;
}
.nos-left img, .nos-right img {
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.nos-left img:hover, .nos-right img:hover {
    opacity: 0.7;
}
.box-nos{
    background-color: var(--btn-text);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}
.box-nos h4{
    font-size: 1.6rem;
}
.box-nos p{
    font-size: 1rem;
    font-weight: 400;
}
.prev{
    border-radius: 2rem;
    border: none;
    background-color: red;
    width: 4rem;
}
.prev img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

}

/* =============== Company Css =========== */
.company-con{
    padding-bottom: 7rem;
}
.company-heo-baner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
.company-hero-head{
    line-height: 2;
}
.company-hero-head p{
    text-align: center;
}
.company-hero-head h1{
    font-size: 3rem;
    text-align: center;
}
.company-logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    gap: 1rem;
}
.log-icon{
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #ffff;
    text-align: center;
}
.company-hero-head span{
    position: relative;
}
.company-hero-head span::after{
    content: "";
    position: absolute;
    background-image: url("/purple-line.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    top: 3rem;
}
